@import url("https://fonts.googleapis.com/css2? family=IBM+Plex+Sans+Hebrew:wght@100;300;600;700&display=swap");
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box; }

/*..HEADER..*/
header {
  background-color: #94B49F;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  

  header h1 {
    color: #ECB390;
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    text-align: end; }
  header nav ul {
    list-style: none;
    display: flex; }
    header nav ul li {
      display: table-footer-group;
      display: inline-block;
      margin: 20px;
      padding: 10px; }
      header nav ul li a {
        text-decoration: none;
        color: #FCF8E8;
        font-family: 'IBM Plex Sans Hebrew', sans-serif; }

/*....FOOTER...*/
footer h2 {
  display: flex;
  justify-content: center;
  color: #ECB390;
  font-weight: 100;
  font-size: 30px;
  font-family: 'IBM Plex Sans Hebrew', sans-serif; }
  footer h2 a {
    display: flex;
    justify-content: space-around; }

@media screen and (max-width: 910px) {
  .fotos {
    width: 100%;
    grid-template-columns: 1fr; } }

@media screen and (max-width: 950px) {
  .grid-servicios {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px; }
  .grid-amarte {
    grid-column: span 1; }
  .img-7 {
    grid-column: span 2; }
  .img-5 {
    grid-row: span 2; } }

@media screen and (max-width: 450px) {
  .grid-servicios {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 769px) {
  .p-3 {
    margin: 10px; } }

@media screen and (max-width: 640px) {
  .promociones1 {
    display: flex;
    flex-direction: column-reverse; } }

@media screen and (max-width: 850px) {
  .fotos {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 850px) {
  .fotosredux {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 850px) {
  header nav ul li {
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 850px) {
  .tarjeta {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 850px) {
  .pases {
    align-items: center; } }

@media screen and (max-width: 850px) {
  .depih2 {
    align-items: center; } }
