/*....FOOTER...*/  


footer{
    h2 {
        display: flex;
        justify-content: center;
        color: #ECB390;
        font-weight: 100;
        font-size: 30px;
        font-family: 'IBM Plex Sans Hebrew', sans-serif;
        a{
            display:flex;
            justify-content:space-around;
            
        
        }
    }
}