/*..HEADER..*/


header {
    background-color: #94B49F;
    display: flex;
    justify-content:space-between;
    font-style: italic;
    align-items: center;
    z-index: 1;
    grid-area: header;
    
    h1 {
        color: #ECB390;
        font-size: 80px;
        font-style: normal;
        font-weight: 300;
        text-align: end
    }


    nav {
        ul {
            list-style: none;
            display: flex;
            li {
                display: table-footer-group;
                display: inline-block;
                margin: 20px;
                padding: 10px;
                a {
                    text-decoration: none;
                    color: #FCF8E8;
                    font-family: 'IBM Plex Sans Hebrew', sans-serif;
                
                
                }
     
        }
    }

}

}